@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: 'kalam', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: black;
}

 h5 {
        font-family: 'Kalam', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: black;
}



#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2,h4 {
    color: black;
}


#hero-image1 {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image1.jpg')no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: 'kalam', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;
    
    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 225, .1);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

.form-section {
    clear: both;
    background: url('../images/hero-image12.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid blue;
    border-radius: 2px;
}

.text-input:hover {
    border-color: blue;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: red;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: red;
}

/* Footer */

footer{
    height: 150px;
}

.social-media {
    text-align: center;

}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap:  1px;

}

.photos > img {
    width: 100%;
}
 
#benefits {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
     width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/meditation-5286678_640.jpg') no-repeat center center;
    height: 100%;
    border-radius: 70%;
}

@media screen and (max-width:1200px) {

    #benefits {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    hr {
        display: none;
    }

}

@media screen and (max-width: 950px) {

  #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }  
    #cover-text {
        left: 0;
    }
    #benefits {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
    #photos {
        column-count: 3;
    }
}


@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}